
$blue1: #142B47;
$blue2: #1b3A61;
$blue3: #225089;
$blue4: #3068AD;
$blue5: #0074C1;
$blueGray: #93A4Bd;
$teal: #35B0CB;
$stealGray: #415A7B;
$gold: #8C6910;
$gold2: #D2B859;
$gold3: #F0EBDD;
$gold4: #F7F4ED;
$red: #E9261D;
$black: #000000;
$gray: #333333;
$gray2: #666666;
$gray3: #757575;
$gray4: #c3c3c3;
$gray5: #cccccc;
$gray6: #E1E5Ea;
$gray7: #F3F6F9;
$white: #ffffff;

$small: 768px;
$med: 1200px;